body {
   background-image: url(TESTESTSAT.png); 
   background-size: 1920px 1892px;
   background-repeat: no-repeat;
   height: 198vh;
   position: relative;
}

.Header1 {
    color: white;
    font-family: 'Inria Serif';
    font-size: 475%;
}

.Header2 {
    color: white;
    font-family: 'Inria Serif';
    font-size: 235%
}

#H1 {
    position: relative;
    top: 425px;
    left: 75px;
}

#H2 {
    position: relative;
    top: 550px;
    left: 50px;
}

#H3 {
    position: relative;
    top: 25px;
    text-align: center;
}

#H4 {
    position: relative;
    top: 25px;
    text-align: center;
}

#H5 {
    position: relative;
    top: 35px;
    text-align: center;
}

#H6 {
    position: relative;
    top: 570px;
    left: 250px;
    z-index: 1;
}

.container {
    display: flex;
    border-radius: 30px;
    --border-width: 1px;
    background: hsl(from rgb(51, 82, 53) h s l / 0.15);
    backdrop-filter: blur(3px);
    border-color: white;

    height: 500px;
    width: 80%;

    position: relative;
    top: 475px;
    left: 200px;
    align-items: center;
    justify-content: center;
    
}

.container::before {
    content:'';
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.411), rgba(170, 170, 170, 0.411)) border-box;
    z-index: -1;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    mask: linear-gradient(black 0 0) border-box, linear-gradient(black 0 0) padding-box;
    mask-composite: subtract;
}

.container .child {
    width: 400px;
    height: 400px;
    margin: 60px;

    position: relative;
    top: 15px;
    
}

.container .child img {
    position: relative;
    top: 20px;

    width: 400px;
    height: 250px;
    border-radius: 30px;

    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}

.container .child :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.NavBar {
    border-radius: 30px;
    --border-width: 1px;
    background: hsl(from rgb(160, 160, 160) h s l / 0.2);
    backdrop-filter: blur(5px);

    height: 40px;
    width: 22%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 30px;
    margin: auto;
    margin-top: -40px;
    gap: 20px;
    justify-content: left;
}

.NavBar::before {
    content:'';
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.411), rgba(170, 170, 170, 0.411)) border-box;
    z-index: -1;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    mask: linear-gradient(black 0 0) border-box, linear-gradient(black 0 0) padding-box;
    mask-composite: subtract;
}

.NavBar div {
    margin-top: 0px;
    font-family: 'Inter';
    color: white;
}

.dropdown {
    height: 20px;
    margin-left: -38px;
}

.navbarsection {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: left;
}

.navbarsection:hover {
    background: hsl(from rgb(196, 255, 187) h s l / 0.15);
    backdrop-filter: blur(5px);
    height: 35px;
    border-radius: 20px;
}

#nv1 {
    width: 60px;
    justify-content: center; 
    align-items: center;
}

#nv2 {
    width: 25%;
    padding-left: 10px;
    justify-content: center; 
    align-items: center;
}


#nv3 {
    width: 25%;
    padding-left: 10px;
    justify-content: center; 
    align-items: center;
}


#nv4 {
    width: 25%;
    padding-left: 10px;
    justify-content: center; 
    align-items: center;
}


#HomeButton {
    height: 24px;
    padding-right: 5px;
}

#Logo1 {
    height: 36px;
    width: auto;
    padding-left: 40px;
    position: sticky;
    top: 30px;
    margin-top: 25px;
}

#scrolldown {
    position: relative;
    height: 100px;
    top: 400px;
    left: 75px;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}